= content_for :title, 'Add Course'
#template-modal.modal.hide.fade
  .modal-header
    %a.close{:'data-dismiss' => 'modal'} ×
    %h3 Existing Courses
  .modal-body
    - organization.courses.each do |course|
      - if course.is_template
        .control-group
          .controls{style: 'float:left;margin-right:8px'}= radio_button_tag :course, course.id
          %label{style: 'display:inline-block;margin-top:2px'} [#{course.id}] #{course.name}
  .modal-footer
    = link_to 'Close', 'javascript:void(0)', class: 'btn', :'data-dismiss' => 'modal'
    = link_to 'Choose', 'javascript:void(0)', id: 'template-choose', class: 'btn btn-success', :'data-dismiss' => 'modal'

%h1 New Course
#create
  .row
    .span12
      - if @course
        %ul
        - @course.errors.messages.each do |message|
          %li
            = message.first
            %ul
              - message.last.each do |reason|
                %li= reason
      = form_for :course, url: '/admin/courses/create', html: { class: 'form-horizontal', id: 'course_form' } do |f|
        %fieldset
          %div{style: 'position:relative;'}= link_to 'Choose Template..', '#template-modal', class: 'btn btn-info', :'data-toggle' => 'modal'
          .row{style: 'padding-top: 40px'}
            .span6
              .control-group
                %label Name:
                .controls= f.text_field :name, placeholder: 'name'
              .control-group
                %label Description:
                .controls= f.text_area :description, placeholder: 'description', style: 'height:100px'
              .control-group
                %label Important notes:
                .controls= f.text_area :notes, placeholder: 'important notes', style: 'height: 150px'
              .control-group
                %label Price:
                .controls= text_field_tag :price, '', placeholder: 'price'
              .control-group{style: 'position: relative'}
                = f.select :range_type, options_for_select({:'Age Range' => :age, :'Grade Range' => :grade}), {}, style: 'width: 120px;position: absolute; left: 10px'
                .controls
                  = f.text_field :start_range, style: 'display: inline-block; width: 20px'
                  = ' - '
                  = f.text_field :end_range, style: 'display: inline-block; width: 20px'
              #pics
                .control-group
                  %label Upload a Picture:
                  .controls= f.file_field :image
              .control-group
                %label Status text:
                .controls= f.text_field :status, placeholder: 'status text'
              .control-group
                %label Max Enrollments:
                .controls= f.text_field :max_campers, placeholder: 'max number of enrollments'
              .control-group
                %label Registration Deadline:
                .controls= f.text_field :deadline, placeholder: 'MM/DD/YYYY'
              .control-group
                %label Publish?:
                .controls= f.check_box :published
              .control-group
                %label Featured?:
                .controls= f.check_box :featured
              .control-group
                %label Custom Reg Link:
                .controls= f.text_field :reg_link, placeholder: 'custom registration link'
              .control-group
                %label Custom Reg Instructions:
                .controls= f.text_area :reg_description, placeholder: 'registration instructions', style: 'height:100px'
            .span6
              .control-group
                %label Location Name:
                .controls= f.text_field :location_name, placeholder: 'location name'
              .control-group
                %label Address:
                .controls= f.text_field :address, placeholder: 'address'
              .control-group
                %label City:
                .controls= f.text_field :city, placeholder: 'city'
              .control-group
                %label State:
                .controls= f.text_field :state, placeholder: 'state'
              .control-group
                %label Zip:
                .controls= f.text_field :zip, placeholder: 'zip'
              .control-group
                %label Suite/Apt:
                .controls= f.text_field :suite
              .control-group
                %label Room:
                .controls= f.text_field :room
              .control-group
                .controls= link_to 'Preview/Update Map', 'javascript:void(0)', id: 'update_map', class: 'btn btn-primary'
              .control-group
                %label List as template?
                .controls= f.check_box :is_template
              #map
          .form-actions= f.submit 'Schedule', class: 'btn btn-success'

- if @course
  :javascript
    $(document).ready(function(){
      $('#create-link').click()
    })

:javascript
  setInterval(function(){
    if ( $('#course_image').val() != '' && $('#remove_image').length == 0 ){
      $('#course_image').after('<a id="remove_image" href="javascript:void(0)" onclick="javascript:$(\'#course_image\').val(\'\');$(this).remove()">Remove</a>')
    }
  }, 500)
  $('#update_map').click(function(){
    full_address = $('#course_address').val() + '%20' + $('#course_city').val() + '%20' + $('#course_state').val() + '%20' + $('#course_zip').val()
    $('#map').html("<iframe width='465' height='300' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='http://maps.google.com/maps?daddr=" + full_address + "&amp;output=embed'></iframe>")
  })
  $.validator.addMethod('date', function(value) {
    if (value.replace(/\D/g, '').search(/\d{8}/) == 0) { return true }
    else if (value == '' || value == 'MM/DD/YYYY') { return true }
    else { return false }
  }, 'Please enter a properly formatted date. (MM/DD/YYYY)')
  $('#course_form').validate({
    rules: {
      'course[name]': { required: true },
      'course[price]': { required: true },
      'course[location_name]': { required: true },
      'course[deadline]': { date: true }
    }
  })

  $('.field_with_errors input').each(function(){
    $(this).parent().parent().addClass('error')
  })

  $('#add_instructor').click(function(){
    iname = $('#c_instructor option:selected').text()
    id = $('#c_instructor').val()
    if ( $('#instructor' + id).length == 0 && iname != 'Select instructor') {
      $('#instructors').append('<div id="instructor' + id + '" class="instructor"></div>')
      $('#instructor' + id).append('<span class="iname">' + iname + '</span>')
      $('#instructor' + id).append('<input type="hidden" name="instructor[' + id + ']" value="' + id + '">')
      $('#instructor' + id).append('<div class="iclose"><a>×</a></div>')
    }
    return false
  })

  $('.instructor .iclose a').live('click', function(){
    id = $(this).parent().parent().attr('iid')
    $('#instructor' + id).fadeOut()
    setTimeout(function(){
      $('#instructor' + id).remove()
    }, 600)
  })

  $('#template-choose').click(function(){
    var id = $('#template-modal input:checked').val()
    $.post(
      '/courses/' + id + '/template',
      {},
      function(rsp) {
        var fields = ['name', 'description', 'price', 'status', 'featured', 'image', 'address', 'city', 'state', 'zip', 'notes', 'start_range', 'end_range', 'suite', 'room', 'location_name', 'max_campers', 'reg_link', 'reg_description']
        for (var i=0; i < fields.length; i++) {
          element = $('#course_' + fields[i])
          if (fields[i] == 'price') {
            element = $('#price')
          }
          element.val(rsp[fields[i]])
          if (element.attr('type') == 'checkbox' && rsp[fields[i]]) {
            element.attr('checked', 'true')
          }
          if (fields[i] == 'image') {
            if (rsp.image.url && rsp.image.url != '') {
              $('#course_image').attr('disabled', 'true')
              $('#pics').prepend('<div class="control-group" id="previous_pic"><label style="position:absolute;margin-top:25px">Use previous image?</label><div class="controls" style="position:absolute;margin-top:27px"> <input checked="true" type="checkbox" id="previous_image"> </div> <img style="margin-left:175px;height:75px" src="' + rsp.image.url + '"> </div>')
              $('#course_form').append('<input id="upload_pic" type="hidden" name="course[remote_image_url]" value="#{ASSET_URL}' + rsp.image.url + '">')
            }
          }
        }
      },
      'json'
    )
  })

  $('#previous_pic').live('click', function(){
    if ($('#previous_pic input').is(':checked')) {
      $('#course_image').attr('disabled', 'true')
      $('#upload_pic').removeAttr('disabled')
    } else {
      $('#course_image').removeAttr('disabled')
      $('#upload_pic').attr('disabled', 'true')
    }
  })
