= content_for :title, 'Dashboard'

= link_to 'Add Course', '/admin/courses', class: 'btn btn-info'
= link_to 'Staff Management', '/admin/instructors', class: 'btn btn-info'
= link_to 'Administrator Console', '/admin/organization', class: 'btn btn-info'
= link_to 'Billing Center', '/admin/billingcenter', class: 'btn btn-info'
