%h1 Staff Management
.tabbable
  %ul.nav.nav-tabs{:'data-tabs' => 'tabs'}
    %li.active= link_to 'Staff List', '#list', :'data-toggle' => 'tab'
    %li= link_to 'Add Staff Member', '#create', id: 'create-link', :'data-toggle' => 'tab'

  .tab-content
    #list.tab-pane.active
      %table.table.table-striped.table-bordered
        %thead
          %th.name
            First Name
            .icons
              = link_to 'javascript:void(0)' do
                %i.icon-chevron-up.top
              = link_to 'javascript:void(0)' do
                %i.icon-chevron-down.bottom
          %th.name
            Last Name
            .icons
              = link_to 'javascript:void(0)' do
                %i.icon-chevron-up.top
              = link_to 'javascript:void(0)' do
                %i.icon-chevron-down.bottom
          %th.actions Actions
        %tbody
          - instructors.each do |instructor|
            %tr
              %td= instructor.first_name
              %td= instructor.last_name
              %td.actions
                = link_to '#' do
                  %i.icon-cog>
                = link_to '#' do
                  %i.icon-trash>
    #create.tab-pane
      .row
        .span6
          - if @user
            %ul
            - @user.errors.messages.each do |message|
              %li
                = message.first
                %ul
                  - message.last.each do |reason|
                    %li= reason
          = form_for :user, url: '/users/create_instructor', html: { class: 'form-horizontal', id: 'instructor_form' } do |f|
            %fieldset
              %legend Create
              = hidden_field_tag :oid, organization.id
              .control-group
                %label First Name:
                .controls= f.text_field :first_name, placeholder: 'first name'
              .control-group
                %label Last Name:
                .controls= f.text_field :last_name, placeholder: 'last name'
              .control-group
                %label Phone Number:
                .controls= f.text_field :phone, placeholder: 'ten-digit phone number'
              .control-group
                %label Email:
                .controls= f.text_field :email, placeholder: 'email'
              .control-group
                %label Bio:
                .controls= f.text_area :bio, placeholder: 'bio', style: 'height: 150px'
              .control-group
                %label Headshot:
                .controls= f.file_field :image
              .control-group
                %label Course Assignments:
                .controls
                  - organization.courses.each do |course|
                    %label.checkbox
                      = check_box_tag :"courses[#{course.id}]"
                      = course.name
              .form-actions= f.submit :submit, class: 'btn btn-success', value: 'Submit'

- if @user
  :javascript
    $(document).ready(function(){
      $('#create-link').click()
    })

:javascript
  $('#instructor_form').validate({
    rules: {
      'user[first_name]': { required: true },
      'user[last_name]': { required: true },
      'user[email]': { required: true }
    }
  })

  $('.field_with_errors input').each(function(){
    $(this).parent().parent().addClass('error')
  })
