%h1= course.name
.tabbable
  %ul.nav.nav-tabs{:'data-tabs' => 'tabs'}
    %li.active= link_to 'info', '#info', :'data-toggle' => 'tab'
    %li= link_to 'schedule', '#schedule', id: 'schedule-link', :'data-toggle' => 'tab'
    %li= link_to 'instructors', '#instructors', :'data-toggle' => 'tab'
  .tab-content
    #info.tab-pane.active
      = form_for :course, url: '/courses/update', html: { remote: true, class: 'form-horizontal', id: 'course_form' } do |f|
        = hidden_field_tag :id, course.id
        %fieldset
          .row{style: 'padding-top: 15px'}
            .span6
              .control-group
                %label Name
                .controls= f.text_field :name, placeholder: 'name', value: course.name
              .control-group
                %label Description
                .controls= f.text_area :description, placeholder: 'description', value: course.description, style: 'height:100px'
              .control-group
                %label Price
                .controls= f.text_field :price, placeholder: 'price', value: course.price
              #pics
                .control-group
                  %label Upload a New Picture
                  .controls= f.file_field :image
              .control-group
                %label Status text
                .controls= f.text_field :status, placeholder: 'status text', value: course.status
              .control-group
                %label Featured?
                .controls
                  - if course.featured
                    = f.check_box :featured, checked: 'checked'
                  - else
                    = f.check_box :featured
            .span6
              .control-group
                %label Address
                .controls= f.text_field :address, placeholder: 'address', value: course.address
              .control-group
                %label City
                .controls= f.text_field :city, placeholder: 'city', value: course.city
              .control-group
                %label State
                .controls= f.text_field :state, placeholder: 'state', value: course.state
              .control-group
                %label Zip
                .controls= f.text_field :zip, placeholder: 'zip', value: course.zip
              .control-group{style: 'position: relative'}
                - if course.range_type == 'age'
                  = f.select :range_type, options_for_select({:'Age Range' => :age, :'Grade Range' => :grade}), {}, style: 'width: 120px;position: absolute; left: 10px'
                - else
                  = f.select :range_type, options_for_select({:'Grade Range' => :grade, :'Age Range' => :age}), {}, style: 'width: 120px;position: absolute; left: 10px'
                .controls
                  = f.text_field :start_range, value: course.start_range, style: 'display: inline-block; width: 20px'
                  = ' - '
                  = f.text_field :end_range, value: course.end_range, style: 'display: inline-block; width: 20px'
              .control-group
                %label Suite #
                .controls= f.text_field :suite, value: course.suite, style: 'width: 20px'
              .control-group
                %label Room #
                .controls= f.text_field :room, value: course.room, style: 'width: 20px'
              .control-group
                %label Important notes
                .controls= f.text_area :notes, placeholder: 'important notes', value: course.notes, style: 'height: 150px'
          .form-actions= f.submit 'Schedule', class: 'btn btn-success'
    #schedule.tab-pane
      #cal_container
      #new_content.hide
    #instructors.pab-pane

%script= render partial: 'cal.js'

:javascript
  $('#schedule-link').click(function(){
    setTimeout(function(){
      $('#time_container').css('left', $('#calendar').offset().left + $('#calendar').width() + 5)
      $('#time_container').css('top', $('#calendar').offset().top)
    }, 1)
  })