= render partial: 'time_confirm'

%h1= course.name
.tabbable
  %ul.nav.nav-tabs{:'data-tabs' => 'tabs'}
    %li.active= link_to 'info', '#info', :'data-toggle' => 'tab'
    %li= link_to 'schedule', '#schedule', id: 'schedule-link', :'data-toggle' => 'tab'
  .tab-content
    #info.tab-pane.active
      = form_for :course, url: '/courses/update', html: { remote: true, class: 'form-horizontal', id: 'course_form' } do |f|
        = hidden_field_tag :id, course.id
        %fieldset
          .row{style: 'padding-top: 15px'}
            .span6
              .control-group
                %label Name
                .controls= f.text_field :name, placeholder: 'name', value: course.name
              .control-group
                %label Description
                .controls= f.text_area :description, placeholder: 'description', value: course.description, style: 'height:100px'
              .control-group
                %label Price
                .controls= f.text_field :price, placeholder: 'price', value: course.price
              #pics
                .control-group
                  %label Upload a New Picture
                  .controls= f.file_field :image
              .control-group
                %label Status text
                .controls= f.text_field :status, placeholder: 'status text', value: course.status
              .control-group
                %label Publish?
                .controls
                  - if course.published
                    = f.check_box :published, checked: 'checked'
                  - else
                    = f.check_box :published
              .control-group
                %label Featured?
                .controls
                  - if course.featured
                    = f.check_box :featured, checked: 'checked'
                  - else
                    = f.check_box :featured
              .control-group
                %label Instructors
                .controls
                  = select :c, :instructor, instructors.all.map{|i|[i.name,i.id]}, prompt: 'Select instructor'
                  = content_tag :button, 'Add', id: 'add_instructor', class: 'btn'
              .control-group
                .controls
                  #instructors
                    - course.instructors.each do |i|
                      %div{id: "instructor#{i.id}", class: 'instructor', iid: "#{i.id}"}
                        %span.iname= i.name
                        = hidden_field_tag :"instructor[#{i.id}]", i.id
                        .iclose
                          %a ×
            .span6
              .control-group
                %label Location Name
                .controls= f.text_field :location_name, placeholder: 'location_name', value: course.location_name
              .control-group
                %label Address
                .controls= f.text_field :address, placeholder: 'address', value: course.address
              .control-group
                %label City
                .controls= f.text_field :city, placeholder: 'city', value: course.city
              .control-group
                %label State
                .controls= f.text_field :state, placeholder: 'state', value: course.state
              .control-group
                %label Zip
                .controls= f.text_field :zip, placeholder: 'zip', value: course.zip
              .control-group{style: 'position: relative'}
                - if course.range_type == 'age'
                  = f.select :range_type, options_for_select({:'Age Range' => :age, :'Grade Range' => :grade}), {}, style: 'width: 120px;position: absolute; left: 10px'
                - else
                  = f.select :range_type, options_for_select({:'Grade Range' => :grade, :'Age Range' => :age}), {}, style: 'width: 120px;position: absolute; left: 10px'
                .controls
                  = f.text_field :start_range, value: course.start_range, style: 'display: inline-block; width: 20px'
                  = ' - '
                  = f.text_field :end_range, value: course.end_range, style: 'display: inline-block; width: 20px'
              .control-group
                %label Suite #
                .controls= f.text_field :suite, value: course.suite, style: 'width: 20px'
              .control-group
                %label Room #
                .controls= f.text_field :room, value: course.room, style: 'width: 20px'
              .control-group
                %label Important notes
                .controls= f.text_area :notes, placeholder: 'important notes', value: course.notes, style: 'height: 150px'
          .form-actions= f.submit 'Submit', class: 'btn btn-success'
    #schedule.tab-pane
      #cal_container
      #new_content.hide

%script= render partial: 'cal.js', locals: { course: course, json: @json }

:javascript
  $('#schedule-link').click(function(){
    setTimeout(function(){
      $('#time_container').css('left', $('#calendar').offset().left + $('#calendar').width() + 5)
      $('#time_container').css('top', $('#calendar').offset().top)
    }, 1)
  })

  $('#add_instructor').click(function(){
    iname = $('#c_instructor option:selected').text()
    id = $('#c_instructor').val()
    if ( $('#instructor' + id).length == 0 && iname != 'Select instructor') {
      $('#instructors').append('<div id="instructor' + id + '" class="instructor"></div>')
      $('#instructor' + id).append('<span class="iname">' + iname + '</span>')
      $('#instructor' + id).append('<input type="hidden" name="instructor[' + id + ']" value="' + id + '">')
      $('#instructor' + id).append('<div class="iclose"><a>×</a></div>')
    }
    return false
  })

  $('.instructor .iclose a').live('click', function(){
    id = $(this).parent().parent().attr('iid')
    $('#instructor' + id).fadeOut()
    setTimeout(function(){
      $('#instructor' + id).remove()
    }, 600)
  })
