%h1 Organization
%ul.nav.nav-tabs{:'data-tabs' => 'tabs'}
  %li.active= link_to 'general', '#general', :'data-toggle' => 'tab'
  %li= link_to 'signup', '#signup', :'data-toggle' => 'tab'

.tab-content
  #general.tab-pane.active
    - if flash[:notice] == :success
      .alert.alert-success{style: 'width:275px'}
        %a.close{:'data-dismiss' => 'alert'} ×
        Organization info successfully updated!
    = form_for :organization, url: '/admin/update_org', html: { class: 'form form-horizontal' } do |f|
      .control-group
        %label Stripe Secret:
        .controls
          .input= f.text_field :stripe_secret, value: organization.stripe_secret
      .control-group
        %label Stripe Publishable:
        .controls
          .input= f.text_field :stripe_publishable, value: organization.stripe_publishable
      .control-group
        %label Background color:
        .controls
          .input= f.text_field :color, placeholder: '#BFE3CD', value: organization.color
      .control-group
        %label Camper unit name:
        .controls
          .input= f.text_field :unit_name, placeholder: 'camper, student, etc.', value: organization.unit_name
      .control-group
        %label Welcome Message:
        .controls
          .input= f.text_field :welcome_title, placeholder: 'welcome title', value: organization.welcome_title
      .control-group
        %label Organization Description:
        .controls
          .input= f.text_area :welcome_message, placeholder: 'welcome message', value: organization.welcome_message, style: 'height:100px'
      .control-group
        %label Footer text:
        .controls
          .input= f.text_area :footer, placeholder: 'footer text', value: organization.footer, style: 'height:100px'
      .control-group
        %label Banner image:
        .controls
          .input= f.file_field :banner
      - if organization.banner.present?
        .control-group
          %label Remove image?
          .controls
            .input= f.check_box :remove_banner
      = f.submit :update, class: 'btn btn-success'
  #signup.tab-pane
