= content_for :title, 'User Management'
%h1 User Management
- if @users
  %table.table.table-striped.table-bordered
    %th First Name
    %th Last Name
    %th Email
    %th Edit
    %tbody
    - @users.each do |user|
      - if !user.parent
        %tr
          %td= user[:first_name]
          %td= user[:last_name]
          %td= user[:email]
          %td
            = link_to "/admin/users/6", title: 'This is a test' do
              %i.icon-cog

:javascript
  $('select').change(function(){
    $('.billingDisplay').css('display', 'none')
    $('#seed_' + $(this).val()).css('display', '')
  })
