%tr{id: "instructor#{instructor.id}"}
  %td= instructor.first_name
  %td= instructor.last_name
  %td.actions
    = link_to 'javascript:void(0)' do
      %i.icon-cog
    = link_to '#remove-instructor', :'data-toggle' => 'modal', class: 'remove-instructor', name: instructor.name, iid: instructor.id do
      %i.icon-trash
  %td
    - case InstructorsCourses.where(course_id: course.id, user_id: instructor.id).first.status
      - when 'accepted'
        %span.label.label-info Accepted
      - when 'pending'
        %span.label.label-inverse Pending
