.row
  .span12
    #signup
      = form_tag '/users/create_password', id: 'signup_form', class: 'form-horizontal' do
        = hidden_field_tag :id, params[:id]
        %fieldset
          %legend Reset Password
          .row{style: 'padding-top: 30px'}
            .span6
              .control-group
                %label Password:
                .controls= password_field_tag :pass, '', placeholder: 'password', autocomplete: 'off'
              .control-group
                %label Password confirmation:
                .controls= password_field_tag :password_confirmation, '', placeholder: 'password confirmation', autocomplete: 'off'
          .form-actions= submit_tag 'Reset', style: 'display:inline', id: 'submit', class: 'btn btn-success'

:javascript
  $(document).ready(function(){
    $.validator.addMethod('password', function(value) {
      if (value.search(/\d/) != -1 && value.search(/[a-zA-Z]/) != -1) { return true }
      else { return false }
    }, 'Please enter a password containing both letters and numbers.')
    $('#signup_form').validate({
      rules: {
        'pass': { required: true, minlength: 8, password: true },
        'password_confirmation': { equalTo: '#pass' }
      }
    })
  })
