.row
  .span6
    #signup
      - if @user
        %ul
        - @user.errors.messages.each do |message|
          %li
            = message.first
            %ul
              - message.last.each do |reason|
                %li= reason
      = form_for :user, url: '/users/create', html: { id: 'signup_form', class: 'form-horizontal' } do |f|
        %fieldset
          %legend Signup
          .control-group
            %label Email
            .controls= f.email_field :email, placeholder: 'email', autocomplete: 'off'
          .control-group
            %label Password
            .controls= f.password_field :password, placeholder: 'password', autocomplete: 'off'
          .control-group
            %label First Name
            .controls= f.text_field :first_name, placeholder: 'first name', autocomplete: 'off'
          .control-group
            %label Last Name
            .controls= f.text_field :last_name, placeholder: 'last name', autocomplete: 'off'
          .control-group
            .controls= link_to 'add ' + organization.unit_name, 'javascript:void(0)', id: 'add_camper'
          .form-actions= f.submit :signup, style: 'display:inline', id: 'submit', class: 'btn btn-success'

:javascript
  var camper_num = 1
  gen_camper = function(){
    $.post(
      '/users/gen_camper',
      { num: camper_num },
      function(rsp) {
        $('#signup_form').append(rsp)
        $('#add_camper').parent().parent().appendTo('#signup_form')
        $('#submit').parent().appendTo('#signup_form')
      },
      'html'
    )
  }
  $('#add_camper').click(function(){
    gen_camper()
    camper_num = camper_num + 1
  })
