= form_for :user, url: '/users/create' do |f|
  = f.email_field :email, placeholder: 'email', autocomplete: 'off'
  = f.password_field :password, placeholder: 'password', autocomplete: 'off'
  = f.text_field :camper_name, placeholder: 'camper name', autocomplete: 'off'
  = f.text_field :parent_name, placeholder: 'parent name', autocomplete: 'off'
  = f.text_field :family_name, placeholder: 'family name', autocomplete: 'off'
  = f.text_field :phone, placeholder: 'phone number', autocomplete: 'off'
  = f.submit :signup
