%tr{cid: course.id, lowname: course.lowname, id: "course#{course.id}"}
  %td= course.id
  %td= course.name
  - if course.start_range
    %td= course.range_type + 's ' + course.start_range.to_s + ' - ' + course.end_range.to_s
  - else
    %td any
  %td= course.location_name
  %td{date: "#{course.days.reorder(:date).first.date.to_time.to_i}"}= course.date_string
  %td= course.default_start.to_time.strftime('%l:%M %p')
  %td= course.default_end.to_time.strftime('%l:%M %p')
  - if organization.admins.include?(current_user)
    %td.admin
      = link_to "/admin/courses/#{course.id}" do
        %i.icon-cog
      = link_to "/courses/#{course.id}/#{course.lowname}/download" do
        %i.icon-file
      = link_to '#destroy-modal', :'data-toggle' => 'modal', class: 'destroy', course: course.name, cid: course.id, lowname: course.lowname do
        %i.icon-trash
