%tr{cid: course.id, lowname: course.lowname, id: "course#{course.id}"}
  %td= course.id
  %td= course.name
  - if course.start_range
    %td= course.range_type + 's ' + course.start_range.to_s + ' - ' + course.end_range.to_s
  - else
    %td any
  %td= course.location_name
  - days = course.days.reorder(:date)
  - if days.first && days.first.date
    %td{date: "#{course.days.reorder(:date).first.date.to_time.to_i}"}= course.date_string
    %td= course.default_start.to_time.strftime('%l:%M %p')
    %td= course.default_end.to_time.strftime('%l:%M %p')
  - else
    %td
    %td
    %td
  %td.actions
    = link_to "/courses/#{course.id}/#{course.lowname}", title: 'More Info' do
      %i.icon-info-sign>
    - if organization.admins.include?(current_user)
      = link_to "/admin/courses/#{course.id}", title: 'Settings' do
        %i.icon-cog>
      = link_to "/courses/#{course.id}/#{course.lowname}/download", title: 'Download Roster' do
        %i.icon-download-alt>
      = link_to '#destroy-modal', title: 'Destroy', :'data-toggle' => 'modal', class: 'destroy', course: course.name, cid: course.id, lowname: course.lowname do
        %i.icon-trash>
