%tr{cid: course.id, lowname: course.lowname, class: "course#{course.id} #{!course.published && 'unpublished' || ''} #{course.campers.count == course.max_campers && 'full' || ''}"}
  %td= course.id
  %td= course.name
  - if course.start_range
    %td= course.range_type.capitalize + 's ' + course.start_range.to_s + ' - ' + course.end_range.to_s
  - else
    %td any
  %td= course.location_name
  - days = course.days.reorder(:date)
  - if days.first && days.first.date && course.default_start && course.default_end
    %td{date: days.first.date.to_time.to_i}= course.date_string
    %td{time: course.default_start.to_i}= course.default_start.strftime('%l:%M %p')
    %td{time: course.default_start.to_i}= course.default_end.strftime('%l:%M %p')
  - else
    %td
    %td
    %td
  %td.actions
    = link_to "/courses/#{course.id}/#{course.lowname}", title: 'More Info' do
      %i.icon-info-sign>
    - if current_user
      = link_to 'javascript:void(0)', title: 'Export to gCal', class: 'export', cid: course.id do
      %i.icon-share>
    - if defined?(user)
      = link_to '#unenroll-modal', title: 'Unenroll', :'data-toggle' => 'modal', class: 'unenroll', cid: course.id, uid: user.id do
        %i.icon-remove-sign>
    - if organization.admins.include?(current_user) || organization.instructors.include?(current_user)
      = link_to "/courses/#{course.id}/#{course.lowname}/roster", title: 'View Roster' do
        %i.icon-download-alt>
    - if organization.admins.include?(current_user)
      = link_to "/admin/courses/#{course.id}", title: 'Edit' do
        %i.icon-cog>
      = link_to '#destroy-modal', title: 'Destroy', :'data-toggle' => 'modal', class: 'destroy', course: course.name, cid: course.id do
        %i.icon-trash>
