.span6
  .course
    .content
      %h3= course.name
      %p= course.description.html_safe
      .register= link_to 'More info', "/courses/#{course.id}/#{course.lowname}", class: 'btn btn-primary'
      .price
        %strong= '$' + course.price.to_s
    .image= image_tag course.image.url || '/images/no-image.jpg'
    - if course.status.present?
      .label-container
        .label.label-success= course.status
