.span6
  .course
    %h3 [##{course.id}] #{course.name}
    .content
      = RedCloth.new(course.description, [:filter_html, :bbcode]).to_html.html_safe
      .register= link_to 'More info', "/courses/#{course.id}/#{course.lowname}", class: 'btn btn-primary'
      .price
        %strong= '$' + (course.price / 100).to_s
    .image= image_tag course.image.large.url || '/images/no-image.jpg'
    - if course.status.present?
      .label-container
        .label.label-success= course.status
