.span6
  .course
    .content
      %h3= course.name
      %p= course.description.html_safe
      .register= link_to 'Register', 'javascript:void(0)', class: 'btn btn-primary', course_id: "#{course.id}"
      .price
        %strong= '$' + course.price.to_s
    .image= image_tag course.image.url || '/images/no-image.jpg'
    - if course.status.present?
      .label-container
        .label.label-success= course.status
