%table.table.table-striped.table-bordered.table-condensed{style: 'border-width:3px'}
  %thead
    %tr
      %th{style: 'text-align:center', colspan: "#{course.days.count * 2 + 6}"} #{course.name} (#{course.id})
  %thead
    %tr
      %th{style: 'text-align:center', colspan: "#{course.days.count * 2 + 6}"}= course.date_string
  %thead
    %tr
      %th Name
      %th Age
      - unless defined?(download)
        %th Parent Name
      %th Phone
      - unless defined?(download)
        %th Emergency Contact Name
        %th Emergency Contact Phone
      - if defined?(download)
        - course.days.each do |day|
          %th{colspan: '2'}= day.date.strftime('%-m/%d')
  %tbody
    - course.campers.each do |camper|
      %tr
        %td= camper.name
        %td= age camper.birthday
        - unless defined?(download)
          - if camper.parent
            %td= camper.parent.name
            %td= camper.parent.phone
          - else
            %td &mdash;
            %td= camper.phone
        - else
          %td= camper.phone
        - unless defined?(download)
          - if camper.parent && camper.parent.ename
            %td= camper.parent.ename
            %td= camper.parent.enumber
          - else
            %td &mdash;
            %td &mdash;
        - if defined?(download)
          - course.days.each do |day|
            %td
          %td

- unless defined?(download)
  = link_to 'Download Roster', "/courses/#{course.id}/#{course.lowname}/download"
