- if current_user
  #campers-modal.modal.hide.fade
    .modal-header
      %a.close{:'data-dismiss' => 'modal'} ×
      %h3 Who would you like to register?
    .modal-body
      = form_tag "/courses/#{course.id}/register", class: 'form-horizontal' do
        - current_user.campers.each do |camper,i|
          .control-group
            %label{style: 'width:100px'}= camper.name
            .controls{style: 'margin:2px 0 0 110px'}= check_box_tag :"campers[#{i}]", camper.id
    .modal-footer
      = link_to 'Close', 'javascript:void(0)', class: 'btn', :'data-dismiss' => 'modal'
      = link_to 'Choose', 'javascript:void(0)', class: 'btn btn-success', onclick: "$('#campers-modal form').submit()"

- if course.reg_link.present? || course.reg_description.present?
  #custom-modal.modal.hide.fade
    .modal-header
      %a.close{:'data-dismiss' => 'modal'} ×
      %h3 Registration Instructions
    .modal-body
      %p= course.reg_description
    .modal-footer
      = link_to 'Close', 'javascript:void(0)', class: 'btn', :'data-dismiss' => 'modal'
      - if course.reg_link.present?
        = link_to 'Go', course.reg_link, class: 'btn btn-success'

#course_info
  %h1 [##{course.id}] #{course.name}
  .well.description
    - if course.image.present?
      = image_tag course.image
    - if course.description.present?
      %h3 Description
      = RedCloth.new(course.description, [:filter_html, :bbcode]).to_html.html_safe
    - if course.notes.present?
      %h3 Important Notes
      = RedCloth.new(course.notes, [:filter_html, :bbcode]).to_html.html_safe
  .well.general-info
    .row-fluid
      .span6.first
        %h3 General Info
        %p
          - if course.price.to_i > 0
            %strong
              Price:
            $#{course.price / 100}
          - else
            %strong
              Price:
            Free!
        - if course.start_range
          %p
            %strong
              #{course.range_type.capitalize}s:
            #{course.start_range} - #{course.end_range}
        - if course.deadline
          %p
            %strong Enrollment Deadline:
            = course.deadline.strftime('%B')
            = course.deadline.strftime('%-m').to_i.ordinalize + ','
            = course.deadline.strftime('%Y')
        %hr/
        %p
          %strong
            Max. Enrollments:
          #{course.max_campers}
        %p
          %strong
            Currently Enrolled:
          #{course.campers.count}
        %p
          %strong
            Spots Left:
          #{course.max_campers - course.campers.count}
      .span6.last
        %h3 Dates & Times
        %ul.unstyled
          - course.days.reorder(:date).each do |day|
            %li #{day.date.strftime('%A, %B ')} #{day.date.strftime('%-d').to_i.ordinalize}, #{day.date.strftime('%Y')}; #{day.start_time.strftime('%l:%M %p')} - #{day.end_time.strftime('%l:%M %p')}
  .well.location
    .row-fluid
      .span4
        %h3 Location
        .address
          = course.location_name
          %br/
          = course.address
          %br/
          = course.city + ','
          = course.state
          %br/
          = course.zip
          %br/
          %br/
          - if course.suite
            Suite ##{course.suite}
            %br/
          - if course.room
            Room ##{course.room}
          - if course.full_address.present?
            %br/
            %br/
            = link_to 'Click here for directions', "http://maps.google.com/maps?daddr=#{course.full_address}"
      .span8
        - if course.full_address.present? && course.show_map
          = gmaps(course.full_address).html_safe
  - course.instructors.each do |instructor|
    .well.instructor
      - if instructor.image.url
        = image_tag instructor.image
      - if course.instructors.count > 1
        %h3 Instructors
      - else
        %h3 Instructor
      %h5= instructor.name
      %p= instructor.bio

  - if course.reg_link.present? || course.reg_description.present?
    = link_to '#custom-modal', :'data-toggle' => 'modal', class: 'btn btn-primary' do
      %div Register
  - else
    - if course.max_campers && course.campers.count >= course.max_campers || course.deadline && course.deadline < Time.now.to_date
      = content_tag :button, disabled: 'disabled', class: 'btn btn-primary' do
        %div Full
    - else
      - if current_user
        - if current_user.campers.count > 0
          = link_to '#campers-modal', :'data-toggle' => 'modal', class: 'btn btn-primary' do
            %div Register
        - else
          = link_to "/courses/#{course.id}/#{course.lowname}/register", class: 'btn btn-primary' do
            %div Register
      - else
        = link_to '#signin-modal', :'data-toggle' => 'modal', class: 'btn btn-primary' do
          %div Register
