%h1= course.name
- if course.image.present?
  = image_tag course.image
%p= course.description.html_safe
- if course.price.to_i > 0
  $#{number_with_precision(course.price, precision: 2)}
- else
  free
%p
  = course.location_name
  = course.address
  = course.city
  = course.state
  = course.zip
%p= course.notes
- if course.start_range
  %p #{course.range_type} range: #{course.start_range} - #{course.end_range}
- if course.full_address.present?
  = link_to "http://maps.google.com/maps?q=#{course.full_address}", target: '_blank' do
    = image_tag gmaps(course.full_address)
