%table.table.table-striped.table-bordered
  %thead
    %th.id ID
    %th.name
      Name
      .icons
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-up.top
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-down.bottom
    %th.range Range
    %th.location
      Location
      .icons
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-up.top
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-down.bottom
    %th.dates
      Dates
      .icons
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-up.top
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-down.bottom
    %th.start-time
      Starts
      .icons
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-up.top
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-down.bottom
    %th.end-time
      Ends
      .icons
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-up.top
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-down.bottom
    %th.actions Actions
  %tbody{id: "#{defined?(user) && 'utable' + user.id.to_s || ''}"}
    - if defined?(user)
      = render partial: 'courses/course', collection: user.courses.mirai, locals: { user: user }
    - else
      - if current_user && current_user.admin_organizations.include?(organization)
        - courses = organization.courses.reorder(:created_at)
      - else
        - courses = organization.courses.published.reorder(:created_at)
      = render courses.mirai
