%table.table.table-striped.table-bordered.catalogtable
  %thead
    %th.id
      .icons
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-up.top
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-down.bottom
      ID
    %th.name
      .icons
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-up.top
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-down.bottom
      Name
    %th.range
      .icons
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-up.top
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-down.bottom
      Range
    %th.location
      .icons
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-up.top
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-down.bottom
      Location
    %th.dates
      .icons
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-up.top
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-down.bottom
      Dates
    %th.start-time
      .icons
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-up.top
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-down.bottom
      Starts
    %th.end-time
      .icons
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-up.top
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-down.bottom
      Ends
    %th.actions{style: "#{current_user && current_user.admin_organizations.include?(organization) && 'min-width:90px' || ''}"} Actions
    - if defined?(instructing) && instructing
      %th Status
  %tbody{id: "#{defined?(user) && 'utable' + user.id.to_s || ''}"}
    - if defined?(user)
      = render partial: 'courses/course', collection: user.courses.mirai, locals: { user: user }
    - else
      = render partial: 'courses/course', collection: courses, locals: { instructing: defined?(instructing) && instructing }
