%h1 Courses
%table#courses.table.table-striped.table-bordered
  %thead
    %th.name
      Name
      .icons
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-up.top
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-down.bottom
    %th.range Range
    %th.location
      Location
      .icons
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-up.top
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-down.bottom
    %th.dates
      Dates
      .icons
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-up.top
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-down.bottom
    %th.start-time
      Start Time
      .icons
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-up.top
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-down.bottom
    %th.end-time
      End Time
      .icons
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-up.top
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-down.bottom
  %tbody
    - if current_user && current_user.admin_organizations.include?(organization)
      - courses = organization.courses.mirai.reorder(:created_at)
    - else
      - courses = organization.courses.mirai.published.reorder(:created_at)
    - courses.each do |course|
      %tr{cid: course.id, lowname: course.lowname}
        %td= course.name
        - if course.start_range
          %td= course.range_type + 's ' + course.start_range.to_s + ' - ' + course.end_range.to_s
        - else
          %td any
        %td= course.location_name
        %td{date: "#{course.days.reorder(:date).first.date.to_time.to_i}"}= course.date_string
        %td= course.default_start.to_time.strftime('%l:%M %p')
        %td= course.default_end.to_time.strftime('%l:%M %p')

:javascript
  $('tbody tr').click(function(){
    window.location = '/courses/' + $(this).attr('cid') + '/' + $(this).attr('lowname')
  })
  $.tablesorter.addParser({
    id: 'dates',
    is: function(s){return false},
    type: 'numeric',
    format: function(s,t,c) {
      return $(c).attr('date')
    }
  })
  $('#courses').tablesorter({
    headers: {
      3: { sorter: 'dates' }
    }
  })
