#catalog_header
  %h1 Courses
  - if current_user && organization.admins.include?(current_user)
    #add_button= link_to 'Add new', '/admin/courses', class: 'btn btn-primary'
  = form_tag "/site/search", class: 'form-search', remote: true do
    = text_field_tag :q, '', placeholder: 'search', class: 'search-query'
%table#courses.table.table-striped.table-bordered
  %thead
    %th.id ID
    %th.name
      Name
      .icons
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-up.top
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-down.bottom
    %th.range Range
    %th.location
      Location
      .icons
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-up.top
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-down.bottom
    %th.dates
      Dates
      .icons
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-up.top
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-down.bottom
    %th.start-time
      Starts
      .icons
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-up.top
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-down.bottom
    %th.end-time
      Ends
      .icons
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-up.top
        = link_to 'javascript:void(0)' do
          %i.icon-chevron-down.bottom
    - if organization.admins.include?(current_user)
      %th.admin
        Admin
  %tbody
    - if current_user && current_user.admin_organizations.include?(organization)
      - courses = organization.courses.mirai.reorder(:created_at)
    - else
      - courses = organization.courses.mirai.published.reorder(:created_at)
    = render courses

:javascript
  $('tbody tr > :not(.admin)').click(function(){
    window.location = '/courses/' + $(this).parent().attr('cid') + '/' + $(this).parent().attr('lowname')
  })
  $.tablesorter.addParser({
    id: 'dates',
    is: function(s){return false},
    type: 'numeric',
    format: function(s,t,c) {
      return $(c).attr('date')
    }
  })
  $('#courses').tablesorter({
    headers: {
      3: { sorter: 'dates' }
    }
  })
