%h1 Courses
%table#courses.table.table-striped
  %thead
    %th.name Name
    %th.range Age/Grade Range
    %th.location Location
    %th.dates Dates
    %th.times Times
  %tbody
    - if current_user && current_user.admin_organizations.include?(organization)
      - courses = organization.courses.reorder(:created_at)
    - else
      - courses = organization.courses.published.reorder(:created_at)
    - courses.each do |course|
      %tr
        %td= course.name
        - if course.start_range
          %td= course.range_type + 's ' + course.start_range.to_s + ' - ' + course.end_range.to_s
        - else
          %td any
        %td= course.location_name
        %td= course.date_string
        %td= course.time_string
