= content_for :title, 'Course Catalog'
#google-modal.hide

#calendar-modal.modal.hide.fade
  .modal-header
    %a.close{:'data-dismiss' => 'modal'} ×
    %h3 Choose your calendar
  .modal-body
  .modal-footer
    = link_to 'Close', 'javascript:void(0)', :'data-dismiss' => 'modal', class: 'btn'
    = link_to 'Select', 'javascript:void(0)', :'data-dismiss' => 'modal', class: 'btn btn-success'

#unenroll-modal.modal.hide.fade
  .modal-header
    %a.close{:'data-dismiss' => 'modal'} ×
    %h3 Unenroll
  .modal-body{style: 'text-align:center'}
    = form_tag '', remote: true do
      = hidden_field_tag :user_id
      = text_area_tag :message, '', placeholder: 'Why are you unenrolling? (And if requesting a refund, please explain why.)', style: 'width:400px;height:100px'
  .modal-footer
    = link_to 'Close', 'javascript:void(0)', :'data-dismiss' => 'modal', class: 'btn'
    = link_to 'Unenroll', 'javascript:void(0)', :'data-dismiss' => 'modal', class: 'btn btn-danger', id: 'unenroll'

#destroy-modal.modal.hide.fade
  .modal-header
    %a.close{:'data-dismiss' => 'modal'} ×
    %h3 Sign in
  .modal-body
    Really destroy
    %span>
    ?
  .modal-footer
    = link_to 'Close', 'javascript:void(0)', :'data-dismiss' => 'modal', class: 'btn'
    = link_to 'Destroy', 'javascript:void(0)', :'data-dismiss' => 'modal', class: 'btn btn-danger', id: 'destroy', remote: true

#catalog_header
  %h1 Course Catalog
  #catalog_header_content
    - if current_user && organization.admins.include?(current_user)
      = link_to 'Add New', '/admin/courses', class: 'btn btn-primary'
    = form_tag "/site/search", class: 'form-search', remote: true do
      = text_field_tag :q, '', placeholder: 'Enter Keywords Here', class: 'search-query'
      = hidden_field_tag :mirai
      = hidden_field_tag :uid
      = submit_tag :Search, class: 'btn btn-info'
    #previous_container
      = check_box_tag :previous
      Show Past Courses 
.tabbable
  %ul.nav.nav-tabs
    %li.active= link_to 'All Courses', '#all', :'data-toggle' => 'tab'
    - if current_user
      %li= link_to 'My Enrollments', '#enrollments', :'data-toggle' => 'tab'

  .tab-content#courses
    - if defined?(@courses)
      #all.tab-pane.active= render partial: 'site/course_table', locals: { courses: @courses }
    - else
      #all.tab-pane.active= render partial: 'site/course_table'
    - if current_user
      #enrollments.tab-pane
        - if current_user.courses.mirai.first
          %h3= current_user.name
          = render partial: 'site/course_table', locals: { user: current_user }
        - current_user.campers.each do |camper|
          - if camper.courses.mirai.first
            %h3= camper.name
            = render partial: 'site/course_table', locals: { user: camper }

- if current_user
  - if flash[:cal]
    :javascript
      $.post(
        '/site/calendar_session',
        {},
        function(rsp) {
          var calendars = rsp
          $('#google-modal').bPopup().close()
          $('#calendar-modal .modal-body').html('')
          for (var i=0; i < calendars.length; i++) {
            $('#calendar-modal .modal-body').append('<input type="radio" name="calendar" value="' + calendars[i].id + '"> ' + calendars[i].title + '<br/>')
          }
          $('#calendar-modal').modal()
          $('#calendar-modal').modal('show')
        }, 'json'
      )
  :javascript
    $('.export').click(function(){
      $.post(
        '/site/calendar_list',
        { courses: [$(this).attr('cid')] },
        function(rsp) {
          if (rsp.success) {
            $('#calendar-modal .modal-body').html('')
            for (var i=0; i < rsp.calendars.length; i++) {
              $('#calendar-modal .modal-body').append('<input type="radio" name="calendar" value="' + rsp.calendars[i].id + '"> ' + rsp.calendars[i].title + '<br/>')
            }
            $('#calendar-modal').modal()
            $('#calendar-modal').modal('show')
          } else {
            window.location = "http://#{request.domain}/auth/google_oauth2"
          }
        }, 'json'
      )
    })
    $('#calendar-modal .btn-success').click(function(){
      $.post(
        '/site/gcal_import',
        { calendar: $('#calendar-modal input[name=calendar]:checked').val() },
        function(rsp) {
        }, 'json'
      )
    })
    $('#unenroll').click(function(){
      $('#unenroll-modal form').submit()
      $('.course' + $(this).attr('cid') + ':last').fadeOut('slow')
    })
    $('.unenroll').live('click', function(){
      $('#unenroll-modal form').attr('action', '/courses/' + $(this).attr('cid') + '/unenroll')
      $('#unenroll-modal #user_id').val($(this).attr('uid'))
      $('#unenroll').attr('cid', $(this).attr('cid'))
    })
    $('.destroy').live('click', function(){
      $('#destroy-modal span').text(' ' + $(this).attr('course'))
      $('#destroy-modal .btn-danger').attr('href', '/admin/courses/' + $(this).attr('cid') + '/destroy')
    })

:javascript
  $('.actions a').tipTip({ delay: 200 })
  $('.form-search').submit(function(){
    if ( $('#enrollments').hasClass('active') ) {
      $('#uid').val('#{current_user && current_user.id}')
    } else {
      $('#uid').val('')
    }
    if ( $('#previous:checked').length > 0 ) {
      $('#mirai').val('false')
    } else {
      $('#mirai').val('true')
    }
  })
  $('#previous').change(function(){
    $('.form-search').submit()
  })
  $('tbody tr > :not(.actions)').live('click', function(){
    window.location = '/courses/' + $(this).parent().attr('cid') + '/' + $(this).parent().attr('lowname')
  })
  $.tablesorter.addParser({
    id: 'dates',
    is: function(s){return false},
    type: 'numeric',
    format: function(s,t,c) {
      return $(c).attr('date')
    }
  })
  $.tablesorter.addParser({
    id: 'times',
    is: function(s){return false},
    type: 'numeric',
    format: function(s,t,c) {
      return $(c).attr('time')
    }
  })
  $('table').tablesorter({
    headers: {
      4: { sorter: 'dates' },
      5: { sorter: 'times' },
      6: { sorter: 'times' },
      7: { sorter: false }
    }
  })
