= content_for :title, 'Home'
%h1{style: 'text-align:center;'}= organization.welcome_title
- if featured_courses.first
  %h2{style: 'text-align:center;'} Featured Courses:
  %p{style: 'text-align:center;'} (Click "#{organization.catalogDisplayName}" to see all of our offerings!)
  - if organization.slider
    #showcase.showcase
      - featured_courses.each do |course|
        .showcase-slide
          .showcase-content
            .showcase-content-wrapper= image_tag course.image.slider.url || '/images/no-image-slider.jpg'
          .showcase-caption
            %h3 [##{course.id}] #{course.name} at #{course.location_name}
            .description{style: 'max-height:56px;overflow:auto'}= RedCloth.new(course.description, [:filter_html, :bbcode]).to_html.html_safe
            .price{style: 'display:inline-block'}
              %strong $#{course.price / 100} | #{course.date_string}
            .register{style: 'display:inline-block'}= link_to 'More Info', "/courses/#{course.id}/#{course.lowname}", class: 'btn btn-primary'
    :javascript
      $('#showcase').awShowcase({
        content_width: 700,
        content_height: 470,
        continuous: true
      })
  - else
    - featured_courses.each_with_index do |course, index|
      - if index % 2 == 0
        .row
          = render partial: 'courses/featured', locals: { course: course }
          - if featured_courses[index+1]
            = render partial: 'courses/featured', locals: { course: featured_courses[index+1] }

    :javascript
      $('.course h3').each(function(){
        while ($(this).height() > 50) {
          $(this).css('font-size', parseInt($(this).css('font-size'), 10) - 1)
        }
      })
- if organization.welcome_message
  %p= RedCloth.new(organization.welcome_message, [:filter_html, :bbcode]).to_html.html_safe

