!!!
%html
  %head
    %title= yield :title
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
  %body
    #header
      #nav
        - if !logged_in?
          = form_tag '/users/auth', style: 'display:inline-block' do
            = email_field_tag :email, '', placeholder: 'email', autocomplete: 'off'
            = password_field_tag :password, '', placeholder: 'password', autocomplete: 'off'
            = submit_tag :login
          - if request.subdomain.present?
            = link_to 'signup', '/signup'
          - else
            = link_to 'signup', '/org_signup'
        - else
          %ul.nav-tabs.nav
            - if request.subdomain.present?
              - if current_user.admin_organizations.include?(organization)
                %li.dropdown{:'data-dropdown' => 'dropdown'}
                  = link_to 'javascript:void(0)', class: 'dropdown-toggle', :'data-toggle' => 'dropdown' do
                    admin
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to 'organization', '/admin/organization'
                    %li= link_to 'courses', '/admin/courses'
            - else
              %li.dropdown{:'data-dropdown' => 'dropdown'}
                = link_to 'my organizations', 'javascript:void(0)', class: 'dropdown-toggle'
                %ul.dropdown-menu
                  - current_user.admin_organizations.each do |org|
                    %li= link_to org.name, 'http://' + org.name + '.' + request.domain
            %li.tab-text Welcome back, #{current_user.first_name}!
            %li= link_to 'logout', '/signout'
    .container-fluid= yield
