!!!
%html
  %head
    %title
      - if organization
        = organization.name
      - else
        Enrollex
      - if content_for?(:title)
        = ' | '
        = yield :title
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = javascript_include_tag "#{root_url.gsub(/:\d{4}/, '')[0..-2]}:8080/application.js"
    = csrf_meta_tag
  - if organization && organization.color
    :css
      body { background-color: #{organization.color} }
  %body
    - if organization && organization.banner && organization.banner.url.present?
      #banner{style: "cursor:pointer; background:url(#{organization.banner}) no-repeat center; height:#{organization.banner_height}px;"}
    #forgot-modal.modal.hide.fade
      .modal-header
        %h3 Forgot Password
      .modal-body
        = form_tag '/users/reset_pass', id: 'forgot_form', remote: true do
          = text_field_tag :email, '', placeholder: 'enter your email'
          = submit_tag :submit, style: 'display:none'
      .modal-footer
        = content_tag :button, 'Send', class: 'btn btn-success', onclick: "javascript:$('#forgot_form').submit()"
    #register-modal.modal.hide.fade
      .modal-header
        %h3 Account Required
      .modal-body
        .modal-center
          Please
          = content_tag :button, 'Sign In', class: 'btn btn-success', id: 'signin'
          Or
          = content_tag :button, 'Register', class: 'btn btn-success', id: 'register'
    #signup-modal.modal.hide.fade
      .modal-header
        %strong Welcome to #{organization.name} Online Enrollment! To get started, please tell us who you are:
        %br/
        %br/
        I am an adult signing up for...
      .modal-body
        = link_to 'My Family', '/signup?type=children', class: 'btn btn-success'
        = link_to 'Myself Only', '/signup?type=adult', class: 'btn btn-success'
    #signin-modal.modal.hide.fade
      .modal-header
        %a.close{:'data-dismiss' => 'modal'} ×
        %h3 Sign in
      .modal-body
        = form_tag '/users/auth', style: 'display:inline-block', class: 'form-horizontal' do
          .control-group
            %label Email:
            .controls= email_field_tag :email, '', placeholder: 'email', autocomplete: 'off'
          .control-group
            %label Password:
            .controls= password_field_tag :password, '', placeholder: 'password', autocomplete: 'off'
          %input{type: 'submit', style: 'visibility:hidden;position:absolute;top:0'}
      .modal-footer
        = submit_tag :'Sign In',  class: 'btn btn-success', onclick: "javascript:$('#signin-modal form').submit()"
        = content_tag :button, 'Forgot your password?', class: 'btn', id: 'forgot'
    - unless request.path =~ /\/course\/\w*\/register/
      .container
        .navbar#nav
          .navbar-inner
            .container{style: 'width:900px'}
              .nav-collapse
                %ul.nav.pull-left
                  - if request.subdomain.present? && organization
                    %li= link_to 'Home', '/'
                    - if current_user
                      %li= link_to 'My Profile', '/profile'
                    %li= link_to organization.catalogDisplayName, '/catalog'
                    - if current_user && organization && current_user.admin_organizations.include?(organization)
                      %li
                        .divider-vertical
                      %li= link_to 'Admin Dashboard', '/dashboard'
                  - else
                    - if current_user && current_user.admin_organizations
                      %li.dropdown
                        = link_to 'javascript:void(0)', class: 'dropdown-toggle', :'data-toggle' => 'dropdown' do
                          My Organizations
                          %b.caret
                        %ul.dropdown-menu
                          - current_user.admin_organizations.each do |org|
                            %li= link_to org.name, 'http://' + org.name + '.' + request.domain
                %ul.nav.pull-right
                  - if logged_in?
                    %li{style: 'padding: 10px 10px 11px 10px; color: #FFFFFF;'}= "Welcome back, #{current_user.first_name}!"
                    %li= link_to 'Sign Out', '/signout'
                  - else
                    %li= link_to 'Sign In', '#signin-modal', :'data-toggle' => 'modal'
                    - if request.subdomain.present? && organization
                      %li= link_to 'Register', '#signup-modal', :'data-toggle' => 'modal'
                    - else
                      %li= link_to 'Register', '/signup_organization'
        #content= yield
        - if organization && organization.footer
          #footer
            = RedCloth.new(organization.footer, [:filter_html, :bbcode]).to_html.html_safe
            Powered by Enrollex 1.1
    :plain
      <script type="text/javascript">
       var _gaq = _gaq || [];
       _gaq.push(['_setAccount', 'UA-31152238-1']);
       _gaq.push(['_setDomainName', 'enrollex.org']);
       _gaq.push(['_trackPageviw']);

       (function(){
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
      </script>
    = yield :scripts
    :javascript
      $.ajaxSetup({
        beforeSend: function(xhr) {
          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
        }
      })
      $('[placeholder]').focus(function() {
        var input = $(this);
        if (input.val() == input.attr('placeholder')) {
          input.val('');
          input.removeClass('placeholder');
        }
      }).blur(function() {
        var input = $(this);
        if (input.val() == '' || input.val() == input.attr('placeholder')) {
          input.addClass('placeholder');
          input.val(input.attr('placeholder'));
        }
      }).blur().parents('form').submit(function() {
        $(this).find('[placeholder]').each(function() {
          var input = $(this);
          if (input.val() == input.attr('placeholder')) {
            input.val('');
          }
        })
      });
      $('#banner').click(function(){window.location='/'})
      $('#forgot').click(function(){
        $('#signin-modal').modal('hide')
        setTimeout(function(){
          $('#forgot-modal').modal()
          $('#forgot-modal').modal('show')
        }, 600)
      })
      $('#signin').click(function(){
        $('#register-modal').modal('hide')
        setTimeout(function(){
          $('#signin-modal').modal()
          $('#signin-modal').modal('show')
        }, 600)
      })
      $('#register').click(function(){
        $('#register-modal').modal('hide')
        setTimeout(function(){
          $('#signup-modal').modal()
          $('#signup-modal').modal('show')
        }, 600)
      })
    - if flash[:auth_fail]
      :javascript
        $('#signin-modal').modal()
        $('#signin-modal').modal('show')
        $('#signin-modal .modal-body').prepend('<div style="display:inline-block" class="alert alert-error"><a class="close" data-dismiss="alert">×</a>Sign In failed. Please check your entries and try again.</div>')
