!!!
%html
  %head
    %title
      Enrollex | 
      = yield :title
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
  - if organization && organization.color
    :css
      body { background-color: #{organization.color} }
  %body
    - if organization && organization.banner && organization.banner.url.present?
      #banner{style: "cursor:pointer;background:url(#{organization.banner})no-repeat center;height:#{organization.banner_height}px"}
    #signup-modal.modal.hide.fade
      .modal-header
        I am an adult signing up for..
      .modal-body
        = link_to 'Myself', '/signup?type=adult', class: 'btn btn-success'
        = link_to 'Children', '/signup?type=children', class: 'btn btn-success'
    #signin-modal.modal.hide.fade
      .modal-header
        %a.close{:'data-dismiss' => 'modal'} ×
        %h3 Sign in
      .modal-body
        = form_tag '/users/auth', style: 'display:inline-block' do
          = email_field_tag :email, '', placeholder: 'email', autocomplete: 'off'
          = password_field_tag :password, '', placeholder: 'password', autocomplete: 'off'
          %input{type: 'submit', style: 'visibility:hidden'}
      .modal-footer
        = submit_tag :login, class: 'btn btn-success', onclick: "javascript:$('#signin-modal form').submit()"
    - unless request.path =~ /\/course\/\w*\/register/
      .container
        .navbar#nav
          .navbar-inner
            .container{style: 'width:900px'}
              .nav-collapse
                %ul.nav.pull-left
                  - if request.subdomain.present? && organization
                    %li= link_to 'Home', '/'
                    - if current_user
                      %li= link_to 'My Profile', '/profile'
                    %li= link_to 'Catalog', '/catalog'
                    - if current_user && organization && current_user.admin_organizations.include?(organization)
                      %li
                        .divider-vertical
                      %li= link_to 'Administrator Console', '/admin/organization'
                      %li= link_to 'Instructor Management', '/admin/instructors'
                  - else
                    - if current_user && current_user.admin_organizations
                      %li.dropdown
                        = link_to 'javascript:void(0)', class: 'dropdown-toggle', :'data-toggle' => 'dropdown' do
                          My Organizations
                          %b.caret
                        %ul.dropdown-menu
                          - current_user.admin_organizations.each do |org|
                            %li= link_to org.name, 'http://' + org.name + '.' + request.domain
                %ul.nav.pull-right
                  - if logged_in?
                    %li= link_to 'Sign Out', '/signout'
                  - else
                    %li= link_to 'Sign In', '#signin-modal', :'data-toggle' => 'modal'
                    - if request.subdomain.present? && organization
                      %li= link_to 'Register', '#signup-modal', :'data-toggle' => 'modal'
                    - else
                      %li= link_to 'Register', '/signup_organization'
        #content= yield
        - if organization && organization.footer
          #footer= RedCloth.new(organization.footer, [:filter_html, :bbcode]).to_html.html_safe
    = yield :scripts
    :javascript
      $('#banner').click(function(){window.location='/'})
    - if flash[:auth_fail]
      :javascript
        $('#signin-modal').modal()
        $('#signin-modal').modal('show')
        $('#signin-modal .modal-body').prepend('<div style="display:inline-block" class="alert alert-error"><a class="close" data-dismiss="alert">×</a>Signin failed.</div>')
