!!!
%html
  %head
    %title
      Enrollex | 
      = yield :title
    - if request.path =~ /\/course\/\w*\/register/
      = stylesheet_link_tag 'stripe'
      = javascript_include_tag 'stripe'
    - else
      = stylesheet_link_tag 'application'
      = javascript_include_tag 'application'
  %body
    #signup-modal.modal.hide.fade
      .modal-header
        I am an adult signing up for..
      .modal-body
        = link_to 'Myself', '/signup?type=adult', class: 'btn btn-success'
        = link_to 'Children', '/signup?type=children', class: 'btn btn-success'
    - unless request.path =~ /\/course\/\w*\/register/
      #header
        #nav
          - if !logged_in?
            = form_tag '/users/auth', style: 'display:inline-block' do
              = email_field_tag :email, '', placeholder: 'email', autocomplete: 'off'
              = password_field_tag :password, '', placeholder: 'password', autocomplete: 'off'
              = submit_tag :login
            - if request.subdomain.present? && organization
              = link_to 'signup', '#signup-modal', :'data-toggle' => 'modal'
            - else
              = link_to 'signup', '/signup_organization'
          - else
            %ul.nav-tabs.nav
              - if request.subdomain.present? && organization
                - if current_user.admin_organizations.include?(organization)
                  %li.dropdown{:'data-dropdown' => 'dropdown'}
                    = link_to 'javascript:void(0)', class: 'dropdown-toggle', :'data-toggle' => 'dropdown' do
                      admin
                      %b.caret
                    %ul.dropdown-menu
                      %li= link_to 'Administrator Console', '/admin/organization'
                      %li= link_to 'Course Management', '/admin/courses'
                      %li= link_to 'Instructor Management', '/admin/instructors'
              - else
                %li.dropdown{:'data-dropdown' => 'dropdown'}
                  = link_to 'my organizations', 'javascript:void(0)', class: 'dropdown-toggle'
                  %ul.dropdown-menu
                    - current_user.admin_organizations.each do |org|
                      %li= link_to org.name, 'http://' + org.name + '.' + request.domain
              %li.tab-text Welcome back, #{current_user.first_name}!
              %li= link_to 'logout', '/signout'
    .container-fluid= yield
    = yield :scripts
